html {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: #FFFFFF;
}

p {
  margin: 0;
}

.img{
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ul-glob {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header__nav{
  z-index: 222;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aquamarine;
  width: 100%;
}

.container{
  max-width: 1920px;
  margin-left: 50px;
  margin-right: 50px;
}

.header__item{
  margin-left: 30px;
  margin-right: auto;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 3px;
  transition: background-color .3s ease;
}

.header__item:hover{
  background-color: gray;
}

.header__item:active{
  background-color: red;
}

.header__item:focus{
  background-color: bisque;
}

.container__radio{
  margin-top: 100px;
  margin-bottom: 30px;
}

.remove-button{
  position: absolute;
  font-size: 110%;
  top: 0;
  color: darkred;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.super__class{
  display: none;
}

.panel-collapse{
  display: none;
}

#one:checked ~ #super,
#two:checked ~ #collapse{
  display: flex;
}

.content__h1{
  margin-top: 100px;
}

.content__list{
  margin-bottom: 20px;
  border-bottom: 1px solid red;
}

.paned__item{
  margin-right: auto;
  position: relative;
}

.content__background-1{
  background-image: url(../public/15-600x400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 250px;
}

.content__background-2{
  background-image: url(../public/st-petersburg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 250px;
}

.history-hide{
  margin-bottom: -40px;
}

.tree {
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  background-color:#fbfbfb;
  border:1px solid #999;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 0 5px;
  position:relative
}
.tree li::before, .tree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto
}
.tree li::before {
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:1px solid #999;
  height:20px;
  top:30px;
  width:25px
}
.tree li span {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #999;
  border-radius:5px;
  display:inline-block;
  padding:3px 8px;
  text-decoration:none
}
.tree li.parent_li>span {
  cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
  background:#eee;
  border:1px solid #94a0b4;
  color:#000
}

.footer__item{
  margin-right: 30px;
}

.footer__list{
  position: fixed;
  bottom:0px;
	left:0px;
	width:100%;
  background-color: aquamarine;
  padding: 15px 15px;
}




